.account-box {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /*background: #e5e5e5;*/
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1em;
    width: 30vw;
    height: 80vh;

}

.login-title {

    margin-bottom: 0px;

}

.create-label {

    margin-top: 1em;

}