<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Revision Thing - Account Page</title>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="login.css">
        
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">

    </head>

    <body>

        <!--<div class="navbar">

            <div class="navbar-cont">

                
                <h2 class="navbar-title">Revision Tool</h2>

            </div>

            <div class="navbar-cont">

                <a href="#" class="navbar-link" id="about-button">About Us</a>
                <a href="#" class="navbar-link" id="subject-button">Subjects</a>
                <a href="#" class="navbar-link link-active" id="account-button">Account</a>

            </div>

        </div>-->
        
        <div class="account-box">

            <h2 class="login-title">Create Account</h2>

            <form class="create-form">

                <label for="username-input" class="create-label">Username</label><br>
                <input type="text" class="create-input" name="username-input"><br>
                
                <label for="password-input" class="create-label">Password</label><br>
                <input type="text" class="create-input" name="password-input"><br>
                
                <label for="confirm-input" class="create-label">Confirm Password</label><br>
                <input type="text" class="create-input" name="confirm-input"><br>

                <button class="create-button">Create</button>

            </form>

            <span class="small-text">OR</span><br>

            <button class="google-placeholder">Sign in with Google</button>

        </div>

    </body>

</html>