body {

    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;

}

.navbar {

    width: 100%;
    position: fixed;
    min-height: 2em;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(0,95,115,1) 0%, rgba(10,147,150,1) 100%);
    border-image-slice: 1;
    transition: top 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: .5em;

}

.navbar-title {

    margin: 50px;
    display: inline;
    background: linear-gradient(90deg, rgba(0, 102, 145, 1) 0%, rgba(58,12,163,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
    color: black;
}

.active {
    background-color: #04AA6D;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}

.navbar-cont {

    margin-left: 1em;
    margin-right: 1em;

}

.nav-img {

    width: 1em;
    height: auto;

}

.navbar-link {

    width: 10em;
    height: 2em;
    font-size: 1em;

    margin-left: 1em;

    color: black;
    text-decoration: none;
    background: #f1f1f1;
    border-radius: .5em;
    padding: .5em;

    -webkit-filter: brightness(100%);
    transition: all .5s ease;
    filter: none;

}

.navbar-link:hover {

    -webkit-filter: brightness(110%) !important;
    filter: none;

}

#subject-button {

    background: linear-gradient(10deg, rgba(4, 151, 214, 1) 0%, rgba(144,224,239,1) 100%) !important;

}
#account-button {

    background: linear-gradient(10deg, rgba(4, 151, 214, 1) 0%, rgba(144,224,239,1) 100%) !important;

}

#front-text {

    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);

    font-size: 3em;

    opacity: 100%;
    transition: all .1s ease-in-out;
}

.main-link {

    color: black;
    text-decoration: none;

}

.funi {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50em;
    margin: 0px;

}